@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-page-black text-text-primary;
  }
}
.container {
  @apply mx-auto w-full max-w-[1200px] px-6;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #09090b;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #8b5cf6;
  border-radius: 14px;
}