@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-page-bg text-text-primary overflow-x-hidden;
  }
}

.container {
  @apply mx-auto w-full max-w-[1200px] px-6;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #FF4D00;
  border-radius: 14px;
}